@model Biblioteca.Model.Idioma

@{
    ViewData["Title"] = "Detalles " + Model.NombreIdioma;
}

<div>
    <h3>Detalles de @Model.NombreIdioma</h3>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">Codigo Idioma</dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CodigoIdioma)
        </dd>
        <dt class="col-sm-2">Nombre</dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NombreIdioma)
        </dd>
        @if (Model.Libros != null && Model.Libros.Count > 0)
        {
            <dt class="col-sm-2">Libros</dt>
            <dd class="col-sm-10">
                <ul>
                    @foreach (var item in Model.Libros)
                    {
                        <li>@Html.DisplayFor(modelItem => item.Titulo)</li>
                    }
                </ul>
            </dd>
        }
        @if (Model.Autores != null && Model.Autores.Count > 0)
        {
            <dt class="col-sm-2">Autores</dt>
            <dd class="col-sm-10">
                <ul>
                    @foreach (var item in Model.Autores)
                    {
                        <li>@Html.DisplayFor(modelItem => item.NombreAutor)</li>
                    }
                </ul>
            </dd>
        }
    </dl>
    <div class="form-group d-flex mt-3">
        <a asp-action="Edit" class="btn btn-success" asp-route-id="@Model.CodigoIdioma">Editar</a>
        <a class="btn btn-primary ms-2" asp-action="Index">Volver a la lista</a>
    </div>
</div>
