@model Biblioteca.Model.TandaLabor

@{
    ViewData["Title"] = "Detalles " + Model.NombreTanda;
}

<div>
    <h3>Detalles de @Model.NombreTanda</h3>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">Codigo Tanda</dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CodigoTanda)
        </dd>
        <dt class="col-sm-2">Nombre</dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NombreTanda)
        </dd>
        <dt class="col-sm-2">Hora Inicio</dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.HoraInicio)
        </dd>
        <dt class="col-sm-2">Hora Fin</dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.HoraFin)
        </dd>
        @if (Model.Empleados != null && Model.Empleados.Count > 0)
        {
            <dt class="col-sm-2">Empleados</dt>
            <dd class="col-sm-10">
                <ul>
                    @foreach (var item in Model.Empleados)
                    {
                        <li>@Html.DisplayFor(modelItem => item.Nombre) @Html.DisplayFor(modelItem => item.Apellido)</li>
                    }
                </ul>
            </dd>
        }
    </dl>
    <div class="form-group d-flex mt-3">
        <a asp-action="Editar" class="btn btn-success" asp-route-id="@Model.CodigoTanda">Editar</a>
        <a class="btn btn-primary ms-2" asp-action="Index">Volver a la lista</a>
    </div>
</div>
