@model IEnumerable<Biblioteca.Model.TandaLabor>

@{
    ViewData["Title"] = "Lista de Tandas Laborales";
}

<div class="d-flex justify-content-between align-items-center mb-4">
    <a class="btn btn-success align-self-end" asp-action="Crear">Nueva Tanda Laboral</a>
    <h1>Lista de tandas laborales</h1>
    <div></div>
</div>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Codigo</th>
            <th>Nombre</th>
            <th>Hora Inicio</th>
            <th>Hora Fin</th>
            <th>Accion</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.CodigoTanda)</td>
                <td>@Html.DisplayFor(modelItem => item.NombreTanda)</td>
                <td>@Html.DisplayFor(modelItem => item.HoraInicio)</td>
                <td>@Html.DisplayFor(modelItem => item.HoraFin)</td>
                <td>
                    <a class="btn btn-info text-white" asp-action="Detalles" asp-route-id="@item.CodigoTanda">Detalles</a>
                    <a class="btn btn-warning ms-2 text-white" asp-action="Editar" asp-route-id="@item.CodigoTanda">Editar</a>
                    <a class="btn btn-danger ms-2" asp-action="Eliminar" asp-route-id="@item.CodigoTanda">Eliminar</a>
                </td>
            </tr>
        }
    </tbody>
</table>
