@model IEnumerable<Biblioteca.Model.ViewModel.PrestamoVM>

@{
    ViewData["Title"] = "Lista de Préstamos";
}

<div class="d-flex justify-content-between align-items-center mb-4">
    <a class="btn btn-success align-self-end" asp-action="Create">Nuevo Préstamo</a>
    <h1>Lista de préstamos</h1>
    <div></div>
</div>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Codigo</th>
            <th>Libro</th>
            <th>Estudiante</th>
            <th>Prestado el</th>
            <th>Esperado el</th>
            <th>Devuelto el</th>
            <th>Monto x dia</th>
            <th>Accion</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            var fechaPrestamo = item.FechaPrestamo?.ToString("dd/MM/yyyy");
            var fechaDevolucionEsperada = item.FechaDevolucionEsperada?.ToString("dd/MM/yyyy");
            var fechaDevolucion = item.FechaDevolucion?.ToString("dd/MM/yyyy") ?? "No devuelto";
            var montoDIa = item.MontoDia.Value.ToString("C");

            string trClass;

            if (item.FechaDevolucion.HasValue)
            {
                trClass = "table-success"; // Devuelto
            }
            else if (item.FechaDevolucionEsperada < DateOnly.FromDateTime(DateTime.Now))
            {
                trClass = "table-danger"; // Retrasado
            }
            else
            {
                trClass = "table-warning"; // En curso
            }

            <tr class="@trClass">
                <td>@Html.DisplayFor(modelItem => item.CodigoPrestamo)</td>
                <td>@Html.DisplayFor(modelItem => item.Libro)</td>
                <td>@Html.DisplayFor(modelItem => item.Estudiante)</td>
                <td>@Html.DisplayFor(modelItem => fechaPrestamo)</td>
                <td>@Html.DisplayFor(modelItem => fechaDevolucionEsperada)</td>
                <td>@Html.DisplayFor(modelItem => fechaDevolucion)</td>
                <td>@Html.DisplayFor(modelItem => montoDIa)</td>
                <td>
                    <a class="btn btn-success" asp-action="Details" asp-route-id="@item.CodigoPrestamo">Ver detalles</a>
                    <a class="btn btn-warning text-white ms-1" asp-action="Edit" asp-route-id="@item.CodigoPrestamo">Edit</a>
                    <a class="btn btn-danger ms-1" asp-action="Delete" asp-route-id="@item.CodigoPrestamo">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
