@model IEnumerable<Biblioteca.Model.Libro>

@{
    ViewData["Title"] = "Buscar Libros";
}

<div class="d-flex justify-content-between align-items-center mb-4">

    @if (ViewBag.EditarLibros)
    {
        <a class="btn btn-success align-self-end" asp-action="Create">Nuevo Libro</a>
    }
    <h1>Buscar libros</h1>
    <div>
        <form class="d-flex" role="search" asp-action="Buscar" method="get">
            <input name="filtro" class="form-control me-2" value="@ViewBag.Filtro" type="search" placeholder="Search" aria-label="Search" />
            <button class="btn btn-outline-success" type="submit">Buscar</button>
        </form>
    </div>
</div>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Codigo</th>
            <th>Titulo</th>
            <th>Editorial</th>
            <th>Ciencia</th>
            <th>Idioma</th>
            <th>Anio</th>
            <th>Signatura Topologicas</th>
            <th>ISBN</th>
            <th>Accion</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CodigoLibro)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Titulo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Editora.NombreEditora)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ciencia)
            </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Idioma.NombreIdioma)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AnioPublicacion)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SignaturaTopografica)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Isbn)
                </td>
            <td>
                    <a class="btn btn-success" asp-action="Details" asp-route-id="@item.CodigoLibro">Ver detalles</a>
                    <a class="btn btn-warning text-white ms-1" asp-action="Edit" asp-route-id="@item.CodigoLibro">Edit</a>
                    <a class="btn btn-danger ms-1" asp-action="Delete" asp-route-id="@item.CodigoLibro">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
