@model Biblioteca.Model.Libro
@using System.Text.Json;

@{
    ViewData["Title"] = "Editar Libro";
}

<h4>Editar Libro</h4>
<hr />
<div class="row">
    <div class="col-md-8">
        <form asp-action="Edit" method="post" id="formCrearLibro">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input asp-for="CodigoLibro" type="hidden" />
            <div class="form-group mb-2">
                <label asp-for="Titulo" class="control-label"></label>
                <input asp-for="Titulo" class="form-control" />
                <span asp-validation-for="Titulo" class="text-danger"></span>
            </div>
            <div class="form-group mb-2">
                <label asp-for="SignaturaTopografica" class="control-label">Signatura Topografica</label>
                <input asp-for="SignaturaTopografica" class="form-control" />
                <span asp-validation-for="SignaturaTopografica" class="text-danger"></span>
            </div>
            <div class="form-group mb-2">
                <label asp-for="Isbn" class="control-label"></label>
                <input asp-for="Isbn" class="form-control" />
                <span asp-validation-for="Isbn" class="text-danger"></span>
            </div>
            @* <div class="form-group mb-2"> *@
            @*     <label asp-for="CodigoEditora" class="control-label">Editora</label> *@
            @*     <select asp-for="CodigoEditora" class="form-select" asp-items="ViewBag.Editoras"></select> *@
            @* </div> *@

            <div id="editorial-container">
             <div class="row align-items-end">
                    <div class="col-10">
                        <div class="form-group mb-2">
                            <label class="control-label">Editorial</label>
                            <input type="hidden" asp-for="CodigoEditora" />
                            <input class="form-control" type="text" asp-for="Editora.NombreEditora" readonly />
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="form-group mb-2">
                            <button class="btn btn-outline-primary" type="button" data-bs-toggle="modal" data-bs-target="#modalSeleccionarEditora">Cambiar</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group mb-2">
                <label asp-for="AnioPublicacion" class="control-label">Año Publicacion</label>
                <input asp-for="AnioPublicacion" class="form-control" />
                <span asp-validation-for="AnioPublicacion" class="text-danger"></span>
            </div>
            <div class="form-group mb-2">
                <label asp-for="Ciencia" class="control-label"></label>
                <input asp-for="Ciencia" class="form-control" />
                <span asp-validation-for="Ciencia" class="text-danger"></span>
            </div>
            <div class="form-group mb-2">
                <label asp-for="CodigoIdioma" class="control-label">Idioma</label>
                <select asp-for="CodigoIdioma" class="form-select" asp-items="ViewBag.Idiomas"></select>
            </div>
            <div class="form-group mb-2">
                <label asp-for="Inventario" class="control-label"></label>
                <input asp-for="Inventario" class="form-control" />
                <span asp-validation-for="Inventario" class="text-danger"></span>
            </div>
            <!-- Button trigger modal -->
            <div class="mb-2 mt-4">
                <h5>Autores</h5>
                <div id="autores-container">
                    <label class="control-label">Nombre Autor, Idioma</label>
                    @foreach(var libroAutor in Model.LibrosAutores)
                    {
                        <div class="input-group mb-2">
                            <input type="hidden" name="autores" value="@libroAutor.CodigoAutor" />
                            <input type="text" aria-label="Autor" class="form-control" value="@libroAutor.Autor.NombreAutor" readonly>
                            <input type="text" aria-label="Pais" class="form-control" value="@libroAutor.Autor.PaisOrigen" readonly>
                            <button class="btn btn-outline-danger" type="button" onclick="eliminarAutor(@libroAutor.CodigoAutor)">Eliminar</button>
                        </div>
                    }
                </div>
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modalAgregarAutor">
                    Agregar Autor
                </button>
            </div>

            <div class="mb-2 mt-4">
                <div id="bibliografias-container">
                    <h5 class="control-label">Bibliografias</h5>
                    @for (int i=0; i<Model.LibrosBibliografias.Count; i++)
                    {
                        var bibliografia = Model.LibrosBibliografias.ElementAt(i);

                        <div class="mb-3">
                            <div class="row mb-0">
                                <div class="col-10 mb-0">
                                    <div class="form-group mb-2">
                                        <label class="control-label">Nombre Bibliografia</label>
                                        <input class="form-control" type="text" name="bibliografias[@i].NombreBibliografia" value="@bibliografia.TipoBibliografia.NombreBibliografia" readonly />
                                    </div>
                                </div>
                                <div class="col-2">
                                    <div class="form-group mb-2">
                                        <button class="btn btn-outline-primary" type="button" onclick="eliminarBibliografia(@i)">Eliminar</button>
                                    </div>
                                </div>
                            </div>
                            <div class="form-floating">
                                <textarea id="txtDescBibliografia-@i" class="form-control" name="bibliografias[@i].Descripcion" placeholder="Descripcion de la bibliografia">@bibliografia.TipoBibliografia.Descripcion</textarea>
                                <label for="txtDescBibliografia-@i">Descripcion</label>
                            </div>
                        </div>
                    }
                </div>
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modalAgregarBibliografia">
                    Agregar Bibliografia
                </button>
            </div>

            <div class="form-group d-flex mt-4">
                <input type="submit" value="Guardar" class="btn btn-primary" />
                <a class="btn btn-danger ms-2" asp-action="Index">Volver a la lista</a>
            </div>
        </form>
    </div>
</div>


<!-- Modal -->
<div class="modal fade" id="modalAgregarAutor" tabindex="-1" aria-labelledby="modalAutorLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="modalEditoraLabel">Seleccionar Autor</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form class="d-flex" id="frmBuscarAutor">
                    <input name="filtroAutor" class="form-control me-2" type="search" placeholder="Buscar Autor" aria-label="Search" />
                    <button class="btn btn-outline-success" id="btnBuscarAutor" type="submit">Buscar</button>
                </form>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Codigo</th>
                            <th>Nombre</th>
                            <th>Pais Origen</th>
                            <th>Idioma</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody id="tbody-Autores">
                    </tbody>
                </table>

            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modalSeleccionarEditora" tabindex="-1" aria-labelledby="modalEditoraLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="modalEditoraLabel">Seleccionar Editora</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form class="d-flex" id="frmBuscarEditora">
                    <input name="filtroEditora" class="form-control me-2" type="search" placeholder="Buscar Editora" aria-label="Search" />
                    <button class="btn btn-outline-success" id="btnBuscarEditora" type="button" onclick="buscarEditoraClick()">Buscaro</button>
                </form>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Codigo</th>
                            <th>Nombre</th>
                            <th>Descripcion</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody id="tbody-Editoras">
                    </tbody>
                </table>

            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="modalAgregarBibliografia" tabindex="-1" aria-labelledby="modalBibliografiaLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="modalEditoraLabel">Seleccionar Autor</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="frmAgregarBibliografia">
                    <div class="form-group mb-2">
                        <label for="txtNombreBibliografia" class="control-label">Nombre Bibliografia</label>
                        <input id="txtNombreBibliografia" class="form-control" />
                    </div>
                    <div class="form-floating">
                        <textarea id="txtDescripcionBibliografia" class="form-control" placeholder="Descripcion de la bibliografia"></textarea>
                        <label for="txtDescripcionBibliografia2">Descripcion de la Bibliografia</label>
                    </div>
                    <div class="form-group d-flex mt-3">
                        <input type="submit" value="Guardar" class="btn btn-primary" />
                        <button type="button" class="btn btn-danger ms-2" data-bs-dismiss="modal">Cancelar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts { 
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <script src="~/js/crearLibro.js"></script>
    <script>
        @{
            var options = new JsonSerializerOptions
            {
                ReferenceHandler = System.Text.Json.Serialization.ReferenceHandler.IgnoreCycles,
                WriteIndented = false,
                PropertyNamingPolicy = JsonNamingPolicy.CamelCase
            };
            var jsonEditora = JsonSerializer.Serialize(Model.Editora, options);
            var jsonAutoresSeleccionados = JsonSerializer.Serialize(Model.LibrosAutores.Select(x => x.Autor), options);
            var jsonListaBibliografias = JsonSerializer.Serialize(Model.LibrosBibliografias.Select(x => x.TipoBibliografia), options);
        }

        editora=@Html.Raw(jsonEditora);

        autoresSeleccionados = @Html.Raw(jsonAutoresSeleccionados);

        listaBibliografias = @Html.Raw(jsonListaBibliografias);
    </script>
}
